<%= render 'shared/title', title: "Show Post #{@post.id}: #{@post.title}" %>

<div class="row">
	<div class="well col-md-8">
		<h3><%= @post.title %></h3>
		<p>
			<%= @post.content %>
		</p>
    <br>
    <small>posted by </small><%= " #{@post.user.name}" %>		
	</div>
</div>

<h4>All Comments:</h4>

<% @post.comments.each do |comment| %>
	<div class="row">
		<div class="well col-md-6">
			<p>
				<%= comment.content %>
			</p>
      <br>
      <small>commented by </small><%= "#{comment.user.name}" %>			
		</div>		
	</div>
<% end %>

<% if logged_in? %>

	<h4>Leave a comment:</h4>
	<%= form_for [@post, @comment] do |f| %>
		<div class="row">
			<%= f.text_area :content, rows: 3, class: 'col-md-4' %>
			<div class="col-md-2">
				<%= f.submit 'Create Comment', class: 'btn btn-primary' %>
			</div>
		</div>
		<br>
	<% end %>

<% end %>
	
<hr>

<div class="row">
	<%= link_to "go back to all Posts", posts_path %>
</div>